.heading_para{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    position: fixed; 
    display: inline-block;
    border: #ff1100 4px double;
    margin: 10px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #000000; 
    border-radius: 39px;   
}
.heading_para a:link, a:visited{
    padding: 10px 20px;
    text-align: center;
}

.heading_para a:hover, a:active{
    background-color: greenyellow;
    color: white;
    border-radius: 15px;
}
.heading_para a:link{
    color: rgb(184, 184, 184);
    text-decoration: none;
}

.heading_para a:visited{
    color: rgb(236, 6, 6);
    text-decoration: none;
}

.heading_para a:link{
   color: greenyellow;
   text-decoration: none;
}
ul{
    background-color: black;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}
li{
    display: inline-block;
    padding: 1px;
}

.heading h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 107, 243);
}

section p{
    font-size: 25px;
    color:rgb(0, 0, 0);
    
}